// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1;

// Colors
$primary: #e9e9e9;
$secondary: #f8f8f8;

$body-color: #0f0f0f;

$btn-bg: $primary;

$link-color: #2b77da;
