// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.img-preview {
    max-width: 200px;
    height: auto;
}

.video-container {
    width: 100%;
    height: 590px;
    position: relative;
}

.gray-text {
    color: $color-grey;
}

.voting-btn-group button .material-symbols-outlined{
    font-size: 1.5rem!important;
}

.btn-secondary:hover {
    background-color: $hover-bg;
}

.btn-group button:not(:first-of-type) {
    border-left: 1px solid $color-grey;
}

.btn-icon-filled .material-symbols-outlined {
     font-variation-settings:
         'FILL' 1,
         'wght' 400,
         'GRAD' 0,
         'opsz' 20
}

.comment-form-control {
    width: 100%;
    padding: 10px 10px 10px 5px;
    border:none;
    border-bottom: 1px solid $color-grey;
}

.comment-form-control:focus {
    outline: none;
}

.search-bar-wrapper {
    flex-grow: 3;
}

.search-bar-wrapper form {
    width: 70%;
}

.button-search {
    margin-left: -48px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.button-search i{
    vertical-align: middle;
}

.btn-delete {
    color: var(--bs-red);
    border: 1px solid var(--bs-red);
}

.btn-light {
    color: var(--bs-blue);
    border: 1px solid var(--bs-blue);
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.channel-image {
    width: 40px;
    height: 40px;
    margin: 0 10px 10px 0;
}

.channel-image-big {
    width: 60px;
    height: 60px;
}

.img-thumbnail {
    border: none;
}
